
.page {
   background-color: rgb(133, 53, 170);
    height: 100vh;
    width: 100vw;
}


.card-case {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    height: auto;
}

.indiv-card {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100px;
}

.solo-card {
    background-image: url("https://i.imgur.com/J6CAq27.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 360px;
    width: 400px;
}


/* "https://i.imgur.com/J6CAq27.png" */