html{
	background-color: rgba(80,35,33,255);
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	/* vertical-align: baseline; */
	overflow-x: hidden;
}
body {
	/* background-color: rgba(80,35,33,255); */
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	/* font: inherit; */
	/* vertical-align: baseline; */
	/* overflow-x: hidden;
	overflow-y: hidden; */
}
* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}