.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-top: 50px;
}

.form {
    background-image: url('https://i.imgur.com/eA5BJgl.png');
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button {
    border-radius: 10px;
    background-color: aquamarine;
}

.form-inputs{
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}